/* ----------- NORMALIZE CSS------------ */
*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus{outline: none;}:active{outline: none;}
a:focus{outline: none}a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding:2px;border:none;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}
/* -------------------------------------- */

body {
    font-family: "Poppins", sans-serif;
    color: #000000;
}

.container {
    display: flex;
    align-items: start;
    margin: 0 auto;
    width: 1230px;
    padding: 15px;
}

.header__navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 100px;
    width: 100%;
}

.navbar__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 74px;
}

.header > .container {
    flex-direction: column;
}

.navbar__link > a {
    color: #333333;
    font-size: 16px;
    font-weight: 400;
}

.navbar__link.active > a {
    font-weight: 600;
}

.blue__btn {
    padding: 14px 32px;
    border: 1px solid #3C3C3C;
    background: #2C3878;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 14px;
}

.header__main {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.header__title {
    font-size: 56px;
    font-weight: 700;
    margin-bottom: 36px;
}

.header__descr {
    font-size: 18px;
    font-weight: 400;
    line-height: 160%;
    margin-bottom: 57px;
    width: 518px;
}

.header__form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 839px;
}

.form__name {
    display: flex;
    gap: 14px;
    width: 100%;
}

.form__label {
    font-size: 18px;
    font-weight: 500;
    color: #333333;
    margin-bottom: 15px;
}

.form__box {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    width: 100%;
    margin-bottom: 30px;
}

.form__msg {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    width: 100%;
    margin-bottom: 40px;
}

.form__box > input {
    padding: 18px;
    outline: 1px solid #9C9C9C;
    width: 100%;
    font-size: 16px;
    font-weight: 400;
    color: #9C9C9C;
}

.form__box > input:focus {
    color: #333333;
}

.msg__input {
    padding: 18px;
    outline: 1px solid #9C9C9C;
    width: 100%;
    height: 179px;
    font-size: 16px;
    font-weight: 400;
    color: #9C9C9C;
    resize: none;
}

.msg__input:focus {
    color: #333333;
}

.header {
    margin-bottom: 100px;
}

.location > .container {
    flex-direction: column;
}

.location__head {
    width: 100%;
    position: relative;
    margin-bottom: 20px;
}

.page {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 500;
}

.location__line {
    position: absolute;
    width: 510px;
    height: 0;
    border: 1px solid #000000;
    top: 6px;
    left: 90px;
}

.location__main {
    display: flex;
    justify-content: space-between;
    max-width: 100%;
}

.location__left {
    min-width: 290px;
    margin-right: 182px;
}

.left__title {
    font-size: 36px;
    font-weight: 600;
    color: #333333;
    margin-bottom: 24px;
}

.left__descr {
    font-size: 18px;
    font-weight: 400;
    color: #9C9C9C;
    margin-bottom: 40px;
}

.location__title {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 15px;
    font-style: normal;
}

.location__descr {
    font-size: 18px;
    font-weight: 400;
    line-height: 160%;
    color: #9C9C9C;
}

.left__address {
    display: flex;
    flex-direction: column;
    gap: 33px;
}

.right__card {
    width: 334px;
}

.location__right {
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
}

.location {
    margin-bottom: 100px;
}

.contact {
    padding: 0 15px;
    background-color: #2C3878;
    height: 203px;
    margin-bottom: 80px;
}
.contact > .container {
    height: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.contact__title {
    color: #FFFFFF;
    width: 613px;
    font-size: 36px;
    font-weight: 600;
    line-height: 170%;
}

.contact__right {
    width: 432px;
}

.contact__descr {
    color: #9C9C9C;
    font-size: 18px;
    font-weight: 400;
    line-height: 160%;
    margin-bottom: 20px;
}

.white-btn {
    padding: 14px 32px;
    border: 1px solid #3C3C3C;
    font-size: 14px;
    font-weight: 500;
    color: #333333;
    background-color: #FFFFFF;
}

.footer {
    padding-bottom: 80px;
}

.footer > .container {
    justify-content: space-between;
}

.footer__logo {
    margin-bottom: 10px;
}

.footer__text {
    font-size: 36px;
    font-weight: 600;
    line-height: 170%;
    color: #333333;
    width: 481px;
}

.footer__mail {
    display: flex;
    align-items: center;
}

.footer__mail > img {
    margin-right: 6px;
}

.footer__mail > h2 {
    height: 29px;
    font-size: 18px;
    font-weight: 400;
    line-height: 160%;
    color: #333333;
}

.footer__input-box {
    position: relative;
    width: 440px;
    border-bottom: 1px solid #000000;
    margin-bottom: 40px;
}

.footer__input {
    width: 400px;
    padding: 14px 0;
    background-color: #FFFFFF;
    border: none;
    color: #D9D9D9;
    font-size: 16px;
    font-weight: 400;
}

.footer__input:focus {
    color: #333333;
}

.footer__input-arrow {
    position: absolute;
    right: 0;
    top: 14px;
}

.footer__social-text {
    color: #333333;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 11px;
}

.footer__right-social {
    display: flex;
    width: 100%;
    justify-content: end;
}

.footer__right-social > div {
    width: 203px;
}

.footer__social-links {
    display: flex;
    align-items: center;
    gap: 20px;
}

.footer__social-circle {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: #D9D9D9;
    display: flex;
    align-items: center;
    justify-content: center;
}