/* ----------- NORMALIZE CSS------------ */
*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus{outline: none;}:active{outline: none;}
a:focus{outline: none}a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding:2px;border:none;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}
/* -------------------------------------- */

body {
    font-family: "Poppins", sans-serif;
}

.container {
    display: flex;
    align-items: start;
    margin: 0 auto;
    width: 1230px;
    padding: 15px;
}

.header__navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 100px;
    width: 100%;
}


.navbar__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 74px;
}

.header > .container {
    flex-direction: column;
}

.navbar__link > a {
    color: #333333;
    font-size: 16px;
    font-weight: 400;
}

.navbar__link.active > a {
    font-weight: 600;
}

.blue__btn {
    padding: 14px 32px;
    border: 1px solid #3C3C3C;
    background: #2C3878;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 14px;
}

.header__main {
    display: flex;
    position: relative;
}
.header__main-line {
    position: absolute;
    height: 0;
    width: 683px;
    left: 515px;
    top: 30px;
    border: 1px solid #000000;
}

.header__title {
    color: #333333;
    font-weight: 700;
    font-size: 72px;
    width: 681px;
    margin-bottom: 46px;
}

.header__mid {
    position: absolute;
    width: 252px;
    background-color: #2C3878;
    top: 90px;
    left: 806px;
}

.header__mid-text {
    padding: 40px 50px 0 50px;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 57px;
}
.header__mid-text:last-child {
    margin-bottom: 0;
    padding: 40px 50px;
}

.header__mid-text > h2 {
    color: #FFFFFF;
    font-size: 52px;
    font-weight: 500;
    margin-bottom: 9px;
}

.header__mid-text > p {
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
}

.header__right {
    position: absolute;
    left: 1118px;
    top: 140px;
    transform: rotate(-90deg);
}

.header {
    margin-bottom: 160px;
}

.about {
    margin-bottom: 160px;
}

.about > .container {
    flex-direction: column;
}

.page {
    font-size: 16px;
    font-weight: 500;
    color: #000000;
    text-transform: uppercase;
}

.about__head {
    position: relative;
    width: 100%;
    margin-bottom: 20px;
}

.about__line {
    width: 529px;
    position: absolute;
    top: 6px;
    left: 70px;
    height: 0;
    border: 1px solid #000000;
}

.about__title {
    width: 100%;
    font-size: 36px;
    font-weight: 600;
    color: #333333;
    margin-bottom: 60px;
}

.about__main {
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.about__main-ceo {
    width: 276px;
    padding: 17px 20px;
    padding-right: 52px;
    background-color: #FFFFFF;
    position: absolute;
    top: 27px;
    left: 810px;
    display: flex;
    align-items: center;
}

.about__main-ceo > img {
    margin-right: 20px;
}

.ceo__name {
    font-size: 18px;
    font-weight: 600;
    color: #000000;
    margin-bottom: 6px;
}

.ceo__job {
    font-size: 18px;
    font-weight: 400;
    color: #9C9C9C;
}

.about__bg {
    margin-right: 94px;
}

.about__main-info {
    display: flex;
    align-items: start;
    flex-direction: column;
}

.info__title {
    color: #9C9C9C;
    font-size: 18px;
    font-weight: 400;
    line-height: 160%;
    margin-bottom: 40px;
}

.service {
    height: 829px;
    margin-bottom: 160px;
}

.service > .container {
    position: relative;
    flex-direction: column;
}

.service__head {
    position: relative;
    width: 100%;
    margin-bottom: 20px;
}

.service__line {
    width: 516px;
    height: 0;
    position: absolute;
    top: 6px;
    left: 84px;
    border: 1px solid #000000;
}

.service__main-title {
    color: #333333;
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 24px;
}

.service__main-descr {
    width: 471px;
    color: #9C9C9C;
    font-size: 18px;
    font-weight: 400;
    line-height: 160%;
    margin-bottom: 40px;
}

.service_main-list > li > div {
    font-size: 24px;
    font-weight: 600;
    color: #333333;
    display: flex;
    align-items: center;
    gap: 40px;
}


.service_main-list > li {
    margin-bottom: 35px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 40px;
}

.service_main-list > li:last-child {
    margin-bottom: 0;
    padding-bottom: 30px;
}

.service_main-list {
    width: 883px;
    background-color: #FFFFFF;
}

.service_main-list > li > button {
    background-color: transparent;
}

.service__bg {
    position: absolute;
    top: 260px;
    left: 124px;
    z-index: -1;
}

.product {
    margin-bottom: 210px;
}

.product > .container {
    flex-direction: column;
}

.product__head {
    position: relative;
    width: 100%;
    margin-bottom: 20px;
}

.product__line {
    position: absolute;
    top: 6px;
    left: 96px;
    width: 504px;
    height: 0;
    border: 1px solid #000000;
}

.product__text {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    margin-bottom: 30px;
}

.product__text-title {
    width: 337px;
    font-size: 36px;
    font-weight: 600;
    color: #333333;
    line-height: 170%;
}

.product__text-descr {
    color: #9C9C9C;
    font-size: 18px;
    font-weight: 400;
    line-height: 160%;
    width: 473px;
}

.product__list-fline > h2, .product__list-fline > div > div > h2 {
    font-size: 32px;
    font-weight: 600;
    color: #333333;
}

.product__list-fline > div > div > button {
    background-color: transparent;
}

.product__list-fline > h2 {
    min-width: 40px;
}

.product__list-fline {
    display: flex;
    align-items: start;
    gap: 80px;
}

.product__list {
    width: 100%;
}

.product__list-fline > div > div {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
}

.product__list-fline > div {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.product__list-fline > div > p {
    width: 469px;
    font-size: 18px;
    font-weight: 400;
    color: #333333;
}

.product__list-item {
    margin-bottom: 40px;
}

.product__list-item:last-child {
    margin-bottom: 0;
}

.material {
    margin-bottom: 120px;
}

.material > .container {
    flex-direction: column;
    position: relative;
}

.material__head {
    position: relative;
    width: 100%;
    margin-bottom: 20px;
}

.material__line {
    position: absolute;
    width: 503px;
    height: 0;
    top: 6px;
    left: 97px;
    border: 1px solid #000000;
}

.material__title {
    line-height: 170%;
    font-size: 36px;
    font-weight: 600;
    color: #333333;
    width: 348px;
    margin-bottom: 10px;
}

.material__descr {
    line-height: 160%;
    font-size: 18px;
    font-weight: 400;
    color: #9C9C9C;
    width: 497px;
    margin-bottom: 23px;
}

.white-btn {
    padding: 14px 32px;
    border: 1px solid #3C3C3C;
    font-size: 14px;
    font-weight: 500;
    color: #333333;
    background-color: #FFFFFF;
}

.material__right {
    position: relative;
    width: 100%;
}

.material__right-first {
    position: absolute;
    top: 50px;
    left: 577px;
}

.material__right-second {
    position: absolute;
    left: 959px;
    top: -50px;
}

.material__right-third {
    position: absolute;
    left: 959px;
    top: 210px;
}

.contact {
    padding: 0 15px;
    background-color: #2C3878;
    height: 203px;
    margin-bottom: 80px;
}
.contact > .container {
    height: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.contact__title {
    color: #FFFFFF;
    width: 613px;
    font-size: 36px;
    font-weight: 600;
    line-height: 170%;
}

.contact__right {
    width: 432px;
}

.contact__descr {
    color: #9C9C9C;
    font-size: 18px;
    font-weight: 400;
    line-height: 160%;
    margin-bottom: 20px;
}

.footer {
    padding-bottom: 80px;
}

.footer > .container {
    justify-content: space-between;
}

.footer__logo {
    margin-bottom: 10px;
}

.footer__text {
    font-size: 36px;
    font-weight: 600;
    line-height: 170%;
    color: #333333;
    width: 481px;
}

.footer__mail {
    display: flex;
    align-items: center;
}

.footer__mail > img {
    margin-right: 6px;
}

.footer__mail > h2 {
    height: 29px;
    font-size: 18px;
    font-weight: 400;
    line-height: 160%;
    color: #333333;
}

.footer__input-box {
    position: relative;
    width: 440px;
    border-bottom: 1px solid #000000;
    margin-bottom: 40px;
}

.footer__input {
    width: 400px;
    padding: 14px 0;
    background-color: #FFFFFF;
    border: none;
    color: #D9D9D9;
    font-size: 16px;
    font-weight: 400;
}

.footer__input:focus {
    color: #333333;
}

.footer__input-arrow {
    position: absolute;
    right: 0;
    top: 14px;
}

.footer__social-text {
    color: #333333;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 11px;
}

.footer__right-social {
    display: flex;
    width: 100%;
    justify-content: end;
}

.footer__right-social > div {
    width: 203px;
}

.footer__social-links {
    display: flex;
    align-items: center;
    gap: 20px;
}

.footer__social-circle {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: #D9D9D9;
    display: flex;
    align-items: center;
    justify-content: center;
}